* {
  box-sizing: border-box;
}

@font-face {
  font-family: Arimo;
  src: url("fonts/Arimo.ttf") format("opentype");
}

body {
  font-family: Arimo, Arial;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

#content {
  background-color: #3B3B98;
  color: #000;
  height: calc(100vh - 200px);
  position: relative;
  z-index: 5;
}

#languageBox {
  height: 50px;
  font-size: 20px;
  text-align: center;
  position: absolute;
  left: 60%;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid rgb(200, 200, 200);
  width: 150px;
  border-radius: 0 0px 20px 20px;
  border-top: 0;
  background-image: url("img/language.jpg");
}

#languageUs, #languageRu {
  width: 74px;
  height: 50px;
  display: inline-block;
  cursor: pointer;
}

/*#languageRu {
  border-right: 1px solid rgb(200, 200, 200);
}

#languageUs {
  border-left: 1px solid rgb(200, 200, 200);
}*/

#page {
  position: absolute;
  width: 70%;
  height: calc(100vh - 130px);
  left: 15%;
  top: 70px;
}

.content {
  margin: 40px 20px 30px 2px;
  border: 1px solid rgb(200, 200, 200);
  padding: 10px 15px;
  background: #fff;
  text-align: justify;
  border-radius: 10px;
}

.content:first-child {
  margin-top: 0;
}

.content:last-child {
  margin-bottom: 200px;
}

@media screen and (max-width: 768px) {
  #page {
    width: 100%;
    left: 0;
  }

  #languageBox {
    left: 40%;
  }
}

/*WAVES FOOTER*/
@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1)
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  height: 200px;
  /*background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);*/
  background: #3B3B98;
  overflow-x: hidden;
}
.bgTop {
  z-index: 3;
  opacity: 0.5;
}
.bgMiddle {
  z-index: 2;
  opacity: 0.75;
}
.bgBottom {
  z-index: 1;
}
.wave {
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
  background-image: url("img/wave-top.png");
}
.waveAnimation .waveTop {
  animation: move_wave 5s infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 3s;
}
.waveMiddle {
  background-size: 50% 120px;
  background-image: url("img/wave-mid.png");
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}
.waveBottom {
  background-size: 50% 100px;
  background-image: url("img/wave-bot.png");
}
.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}
/*WAVES FOOTER*/

/*SimbpleBar*/
[data-simplebar] {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%; /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%; /* Not required for horizontal scroll to trigger */
  max-height: 100%; /* Needed for vertical scroll to trigger */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.simplebar-content:before,
.simplebar-content:after {
  content: ' ';
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0;
}

.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: '';
  background: #fff;
  height: 70px;
  border-radius: 7px;
  left: 2px;
  right: 2px;
  border: 1px solid rgb(200, 200, 200);
  width: 5px;
}

.simplebar-scrolling .simplebar-scrollbar:before,
.simplebar-hover .simplebar-scrollbar:before,
.simplebar-mouse-entered .simplebar-scrollbar:before {
  opacity: 0.8;
  transition-delay: 0s;
  transition-duration: 0s;
}

.simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.8;
  transition-delay: 0s;
  transition-duration: 0s;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}

.simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 0;
  bottom: 0;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */
[data-simplebar-direction='rtl'] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.simplebar-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: scrollbar !important;
}

.simplebar-dummy-scrollbar-size > div {
  width: 200%;
  height: 200%;
  margin: 10px 0;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
/*SimbpleBar*/
